@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
html {
  background: #282828;
  text-align: center;
  font-size: 10px;
  font-family: 'Nunito',sans-serif;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}
.time {
  width: auto;
  height: auto;
  border: 7px solid #282828;
  box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(67, 67, 67, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0px auto;
  position: relative;
  padding: 5rem;
  color:#fff;
}
.hms {
  font-size: 68pt;
  font-weight: 200;
}
.ampm {
  font-size: 22pt;
  color:#ee791a;
}

